
h2{
    text-align: center;
}

.login{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginPage{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 450px;
}


.inputval{
    background-color: rgb(16, 17, 17);
    height: 30px;
    width: 250px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;  
    color: whitesmoke;  
}

.button{
    text-align: center;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(0, 162, 255);
    margin-bottom: 20px;
}